.button{
	-moz-box-shadow:inset 0px 2px 15px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 2px 15px 0px #c1ed9c;
	box-shadow:inset 0px 2px 15px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c; 
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #755151;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	
	text-decoration:none;
	text-align:center;
	text-shadow:1px 2px 0px #689324;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}.button:active {
	position:relative;
	top:1px;
}

button.add{

	width:166px;
	height:32px;	
	line-height:30px;
}

.search {
	width:32px;
	height:32px;	
	line-height:32px;
}

button.search {
	margin-right: -1px;
	float: right;
}

img.search_img {
	width:31px;
	height:31px;
	margin-top: -1px;
	margin-left: -6px;
}

.input {
	width:120px;
	height:26px;
	background-color: #ebfadf;
}

textarea.add  {
	width:160px;
	resize: vertical;
}

textarea#search_area  {
	width: 120px;
	height: 26px;
	resize: vertical;
}

textarea#email {
	width: 160px;
	height: 26px;
	resize: none;
}

textarea#post_text {
	width: 160px;
	height: 26px;
	resize: vertical;
}